<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title data-th-text="#{label.title}">Developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" data-th-text="#{label.mainExhibitions}">Exhibitions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/?lang=en" data-th-text="#{label.english}">English</a>
            <a href="/?lang=en" data-th-text="#{label.ukraine}">Ukraine</a>
            &nbsp;&nbsp;

            <div style="text-align: right;padding:5px;margin:5px 0px;" sec:authorize="isAnonymous()">
                <a data-th-text="#{label.submit}" href="/login" class="btn btn-primary">Login</a>
            </div>
            <div style="text-align: right;padding:5px;margin:5px 0px;" sec:authorize="authenticated">
                <a th:href="@{/logout}" data-th-text="#{label.logout}">logout</a>
            </div>
        </form>
        </form>
    </div>
</nav>

<h1 data-th-text="#{label.addHalls}">Add hall</h1>
<form th:action="@{/exposition/{id}/halls(id=${exposition.id})}" enctype="multipart/form-data" >
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" data-th-text="#{label.expositionInfo}">Exposition info</div>
            <div class="panel-body" style="padding-left: 5px;">
                Theme: <span th:text="${exposition.theme}" /> <br/>
                Price: <span th:text="${exposition.price}" /><br/>
                Date: <span th:text="${exposition.date}" /><br/>
                <br/>Halls:
                <span th:each="hall : ${halls}">
					<br/>&nbsp;&nbsp;<span th:text="${hall.name}" />
				</span>
                <br/>
            </div>
        </div>
        <div class="col-md-6">
            <select class="form-control" name="hallId">
                <option th:each="hall : ${halls}"
                        th:value="${hall.id}"
                        th:text="${hall.name}" data-th-text="#{label.hall}">Hall</option>
            </select>
        </div>
        <input type="submit" class="btn btn-success" value="Add hall"/>
    </div>
</form>
</body>
</html>