<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{label.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Exhibitions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form th:action="@{/}">
        <div>Filter by date</div>
        <input type="date" name="filterString" th:value="${filterString}">
        <button type="submit">Найти</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/?lang=en">English</a>
            &nbsp;&nbsp;
            <a href="/?lang=fr">France</a>
            <div style="text-align: right;padding:5px;margin:5px 0px;" sec:authorize="isAnonymous()">
                <a data-th-text="#{label.submit}" href="/login" class="btn btn-primary">Login</a>
            </div>
            <div style="text-align: right;padding:5px;margin:5px 0px;" sec:authorize="authenticated">
           <a th:href="@{/logout}" >logout</a>
            </div>
        </form>
    </div>
</nav>


<div class="container my-2">
    <h1>Exposition List</h1>

<!--    <a th:href = "@{/showNewExpositionForm}" class="btn btn-primary btn-sm mb-3" sec:authorize="hasAuthority('ADMIN')"> Add Exposition </a>-->
<!--    <span><a th:href = "@{/user}" class="btn btn-primary btn-sm mb-3" sec:authorize="hasAuthority('ADMIN')">User list</a></span>-->
    <a th:href = "@{/showNewExpositionForm}" class="btn btn-primary btn-sm mb-3"sec:authorize="hasAuthority('ADMIN')" > Add Exposition </a>
    <span><a th:href = "@{/user}" class="btn btn-primary btn-sm mb-3"sec:authorize="hasAuthority('ADMIN')"   >User list</a></span>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=theme&sortDir=' + ${reverseSortDir}}">
                    Theme</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
                    Price</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">
                    Date</a>
            </th>

            <th sec:authorize="hasAnyAuthority('ADMIN','USER')"> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="exposition : ${listExpositions}">
            <td th:text="${exposition.theme}"></td>
            <td th:text="${exposition.price}"></td>
            <td th:text="${exposition.date}"></td>

            <td sec:authorize="isAuthenticated()" > <a th:href="@{/showFormForUpdate/{id}(id=${exposition.id})}" class="btn btn-primary" sec:authorize="hasAuthority('ADMIN')" >Update</a>
                <a th:href="@{/deleteExposition/{id}(id=${exposition.id})}" class="btn btn-danger" sec:authorize="hasAuthority('ADMIN')" >Delete</a>
                <button th:href="@{/buyTicket}" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" sec:authorize="hasAnyAuthority('USER','ADMIN')"  >Buy ticket</button>
            </td>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Thanks for buying the ticket!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>

                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>

<!--<form th:action="@{/}">-->
<!--    <div>Filter by theme</div>-->
<!--        <input type="text" name="filterTheme" th:value="${filterTheme}">-->
<!--        <button type="submit">Найти</button>-->
<!--</form>-->
<!--<form th:action="@{/}">-->
<!--    <div>Filter by price</div>-->
<!--        <input type="text" name="filterPrice" th:value="${filterPrice}">-->
<!--        <button type="submit">Найти</button>-->
<!--</form>-->

<!--    <div style="text-align: center;padding:5px;margin:5px 0px;">-->
<!--    <tr th:each="exposition : ${expositions}">-->
<!--        <td th:text="${exposition.theme}"> Theme</td>-->
<!--        <td th:text="${exposition.price}"> Price</td>-->
<!--        <td th:text="${exposition.date}"> String</td><br>-->
<!--    </tr>-->
<!--    </div>-->

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>